# Ignore secret API keys
key.py

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor configs
.vscode/

# Ignore strategy notes
docs/strategy_notes/strategy_ideas.txt

# Data
data/
*.parquet
*.feather
*.csv
*.h5

TODO.txt
WATCH.txt
NEXT.txt
research/test1.ipynb
.venv/
*.egg-info/

# Python bytecode
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log