# Ignore secret API keys
key.py

# Ignore strategy notes
docs/strategy_notes/strategy_ideas.txt

data/
*.parquet
*.feather
*.csv
*.h5

TODO.txt

.venv/
__pycache__/
*.egg-info/
.vscode/

# Python bytecode
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log