# Ignore secret API keys
key.py

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor configs
.vscode/

# Ignore strategies
docs/strategy_notes/strategy_ideas.txt


# Data
data/
*.parquet
*.feather
*.csv
*.h5

*.txt

defunct/
.venv/
*.egg-info/

# Python bytecode
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Agents
.github/

testlab.ipynb